body{
    min-height: 100vh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:rgb(66, 66, 65);
    color: transparent;
    cursor:  none;
    flex-basis: 2;
    
}
.mainBody{
    min-height:65dvh;
    width:30vw ;
    background-color: rgb(54, 58, 58);
    border:none;
    border-radius: 20px 20px 0px 0px;
    border-color: rgb(74, 245, 245);
    box-shadow:2px 4px 4px 4px rgb(49, 241, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    /* animation: rotates infinite ease-in-out 5s; */
}
/* @keyframes rotates{
    0% ,100%{
        transform: rotateX('2deg'),translateY('2deg') skewY(2deg);
    }
    50%{ transform:rotateX('-2deg'),translateY('-2deg') ,skew('-2deg');}
    /* 50%{}
    75%{} 
} */
.screen{
    align-self: center;
    height: 20dvh;
    width: 26dvw;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
    border:none ;
    /* background: #000; */
    color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.clear{
    width: inherit;
    height: 5dvh;
    margin-top: 1dvh;
    margin-bottom: 3dvh;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.clear > button{
    height: 5dvh;
    width: 12dvw;
    
}
button{
    font-size: larger;
    font-weight: bold;
    font-family: cursive;
    font-style: oblique;
    border: none;
    color: #fff;
    background: #363638;
    border-radius: 0px 20px 0px 20px;
}
.buttons{
    width: inherit;
}
.rows{
    height: 10dvh;
    width: inherit;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    background:rgb(77, 74, 72);
}
.rows > button{
    height: 5dvh;
    width: 5dvw;
}
button:hover{
    border:solid 2px ;
    border-color: aqua;
    box-shadow:2px 3px 3px 3px rgb(49, 241, 255);
    background-color: rgb(74, 245, 245);
    color: black;
    border: none;
}

#input,aside{
   background:#000;
   margin: 0;
   padding: 3dvh;
   width: 25dvw;
   border: none;
   color: #fff;
   font: bolder larger Arial,Sans-Serif;
}
aside{
    display: flex;
    justify-content: space-between;
}
aside > p {
    width: 20%;
    padding: 3dvh;
    margin: 0;
    color: #fff;
    font: bolder larger Arial,Sans-Serif;

}
.inputActive{
    border-style: none;
}
#answerBar{
    padding: 3dvh;
    width:16dvw;
    background: #000;
    border:none;
    color: #fff;
    font: bolder larger Arial,Sans-Serif;
}
.answers {
    height:5dvh;
    width: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.ansSign{
    height: inherit;
    width: 6dvw;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.answerBar{
    width: 18dvw;
    border: none;
    background-color: transparent;
    color: white;
    overflow: hidden;
    font: bold larger arial,Sans-serif;
}
button:active{
    background-color: rgb(74, 245, 245) ;
    opacity: 0.2;
}
